openapi: 3.0.1
info:
  version: '1.13'
  title: Marketing API
  description: |
    The API allows you to receive sports events, markets for them and the result
    of the match — its score, as well as referral links that will send users
    from your application to the bookmaker's website so they can take part in
    the referral programme.

    **Return data format**: JSON

    > **Important**: one real-world match in this API corresponds to different
    > sports events:
    > *   for pre-match and live
    > *   for different match periods
    > *   for additional markets not on the outcome of the match (types of
    >     sports events)

    *   [Glossary](/en/intro/glossary)
    *   How to get all sports events of a match:
        *   [LoadSingle](/en/intro/getEvents/loadsingle)
        *   [LoadList](/en/intro/getEvents/loadlist)
        *   [LoadTree](/en/intro/getEvents/loadtree)
    *   How to get sport event results:
        *   [Result](/en/intro/result)
    *   How to get statistics:
        *   [Statistics](/en/intro/MarketingStatisticFeed)
servers:
  - url: https://cpservm.com/gateway/marketing
security:
  - clientCredentials: []
tags:
  - name: LoadSingle
    description: |
      Sports events `LoadSingle`

      > If any of the methods return a 403 error, request access to `LoadSingle`
      from your manager.
  - name: LoadList
    description: |
      Sports events `LoadList`

      > If any of the methods return a 403 error, request access to `LoadList`
      from your manager.
  - name: LoadTree
    description: |
      Sports events `LoadTree`

      > If any of the methods return a 403 error, request access to `LoadTree`
      from your manager.
  - name: Result
    x-displayName: Results
    description: |
      Match results.

      Restrictions apply to all methods:
      * **Minimum** difference between `dateFrom` and `dateTo` is 1 minute.
      * **Maximum** between `dateFrom` and `dateTo` is 48 hours.
  - name: Marketing
    x-displayName: Dictionaries
    description: |
      Dictionaries.
  - name: Models
    description: |
      See [Glossary](/en/intro/glossary) to find out more about the meaning
      of terms mentioned below.
  - name: Statistics
    description: Statistics
paths:
  /datafeed/prematch/api/v2/sportevents:
    get:
      tags:
        - LoadSingle
      summary: Get Pre-Match Sports Events
      description: |
        **Request limit**: No more than 1 identical* request every 20 seconds
        from 1 client application. This is necessary to evenly distribute the
        resources of the API service and protect it from overload.

        <details>
          <summary>
            *An identical request is a request with the same set and parameter
            values.
          </summary>

          <div>
            The requests below are identical:

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/prematch/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'Periods=1,2,3' \
              -d 'SportIds=1,2,3'
            ```

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/prematch/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'Periods=1,2,3' \
              -d 'SportIds=1,2,3'
            ```

            Requests below are not identical:

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/prematch/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'SportEventIds=12345'
            ```

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/prematch/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'SportEventIds=54321'
            ```
          </div>
        </details>
      operationId: GameDataFeed_Line_Api_GET_loadsingle_api_v2_sportevents
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Partner group.

            Together with the parameter `cnt`:

            * determines whether there is a live video on the bookmaker's website.
            * if the `partnerLink` parameter is not provided, it is used to form the domain part of the link (`link` in the response).

            Consult your manager about the parameter value.
          schema:
            type: integer
            format: int32
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            If the `partnerLink` parameter is not provided, it is used together with the parameter `gr` to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: periods
          in: query
          description: |
            Sports event period numbers separated by a comma. Default setting is
            always `0` (main period, the list of markets on the outcome of the
            match taking all periods into account). To get all possible periods,
            enter `0`, `1`, `2`, ... (the number of periods depends on the
            sport).
          schema:
            type: string
        - name: vids
          in: query
          description: |
            Sports event class IDs separated by a comma. Default setting is
            always `1` (main class).

            > Some sports (`3` (Basketball), `28` (Australian Rules),
            `13` (American Football)) can contain from main sport events with
            Sports event class = `12` (see [Glossary](/en/intro/glossary)).
            Please add `Vids` = `12` to get these sports events.

            > Events that are not main (with the main type (`Types` = `1`) and
            the main period (`Periods` = `0`)) will be returned with the main
            class (`Vids` = `1`).
          schema:
            type: string
        - name: types
          in: query
          description: |
            Sports event type IDs separated by a comma.

            Default setting is always `1` (main type).
          schema:
            type: string
        - name: sportEventIds
          in: query
          description: |
            Sports event IDs separated by a comma.

            > **Note**: can be entered as `sportEventId` or as
            `constSportEventId` (the overall event ID for pre-match and live
            events). Use `constSportEventId` to find a live match from the
            pre-match once it has already begun.
          schema:
            type: string
        - name: tournamentIds
          in: query
          description: |
            Tournament IDs separated by a comma.

            By default, all tournaments will be included.
          schema:
            type: string
        - name: tournamentCountryIds
          in: query
          description: |
            Tournament host country IDs separated by a comma.

            Accepts `id` from the
            [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: sportIds
          in: query
          description: |
            Sport IDs separated by a comma.

            By default, all sports in the directory will be included.
          schema:
            type: string
        - name: subSportIds
          in: query
          description: |
            Discipline IDs separated by a comma.
          schema:
            type: string
        - name: gtStart
          in: query
          description: |
            Time filter for sports events, where the event`s start date must be
            greater than the specified value.

            Set using Unix Epoch.
          schema:
            type: integer
            format: int64
        - name: ltStart
          in: query
          description: |
            Time filter for sports events, where the event`s start date must be
            less than the specified value.

            Set using Unix Epoch.
          schema:
            type: integer
            format: int64
        - name: oddsIds
          in: query
          description: |
            Sports event market IDs (from the directory) separated by a comma.

            This enables you to obtain specific markets within a sports event.
          schema:
            type: string
        - name: schemeOfGettingOddsOperations
          in: query
          description: |
            > [Markets filter](/en/intro/schemeOfGettingOdds#schemeofgettingoddsoperations).
          schema:
            $ref: '#/components/schemas/line-v2-en_SchemeOfGettingOddsOperations'
        - name: video
          in: query
          description: |
            Video filter.

            * If `true` — only sports events will be returned in response with
              video broadcasts available after the start of the event in live
              (`hasVideo` = `true`)
            * If `false` (default) — all sporting events will come (both with
              video and without)

            > See `count` parameter.
          schema:
            type: boolean
        - name: partnerLink
          in: query
          description: |
            An affiliate link that replaces a link to a sports event in the
            response.

            Format: `{link path including domain}?tag={tag}`

            Example: *ref.top/L?tag=s_23283m_355c_*

            If a value is entered, all links (`link` response parameter) will
            be replaced:
            * `https://{new value}
              &r={link path to sports event on the bookmaker's website}`
            * `https://ref.top/L?tag=s_23283m_355c&r=/ru/live/Football
              /1299397-England-Premier-League-2/351754042-Crystal-Palace-U23
              -Liverpool-U23`

            Contact your manager to find out how to get an affiliate link in
            your account.
          schema:
            type: string
        - name: opponentIds
          in: query
          description: |
            Opponent's IDs separated by a comma. The response will only contain
            sports events with participants whose IDs are specified in the
            request.
          schema:
            type: string
        - name: count
          in: query
          description: |
            The maximum number of sports events to be returned in the response.

            The default is `100`.

            If `count` is specified, the service will take `count` events and
            filter them using the `hasVideo` flag. As a result, the response
            may contain fewer events than specified.
          schema:
            type: integer
            format: int32
            default: 100
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            If the `partnerLink` parameter is not provided, it is used together with the parameter `gr` to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v2-en_LocalizationSportEventDtoV2ListResultResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided
            * Unknown parameter. *Check the parameter name*
            * Duplicate parameters in the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v2-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` and `gr` are correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v2-en_ProblemDetails'
  /datafeed/live/api/v2/sportevents:
    get:
      tags:
        - LoadSingle
      summary: Get Live Sports Events
      description: |
        **Request limit**: No more than 1 identical request* per 5 seconds from
        1 client application. This is necessary to evenly distribute the
        resources of the API service and protect it from overload.

        <details>
          <summary>
            *An identical request is a request with the same set and parameter
            values.
          </summary>

          <div>
            The requests below are identical:

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/live/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'Periods=1%2C2%2C3' \
              -d 'SportIds=1%2C2%2C3'
            ```

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/live/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'Periods=1%2C2%2C3' \
              -d 'SportIds=1%2C2%2C3'
            ```

            Requests below are not identical:

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/live/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'SportEventIds=12345'
            ```

            ```sh
            curl \
              -L \
              -G \
              https://cpservm.com/gateway/marketing/datafeed/live/api/v2/sportevents \
              -d 'Ref=1' \
              -d 'SportEventIds=54321'
            ```
          </div>
        </details>
      operationId: GameDataFeed_Live_Api_GET_loadsingle_api_v2_sportevents
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Partner group.

            Together with the parameter `cnt`:

            * determines whether there is a live video on the bookmaker's website.
            * if the `partnerLink` parameter is not provided, it is used to form the domain part of the link (`link` in the response).

            Consult your manager about the parameter value.
          schema:
            type: integer
            format: int32
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            If the `partnerLink` parameter is not provided, it is used together with the parameter `gr` to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: periods
          in: query
          description: |
            Sports event period numbers separated by a comma.

            Default setting is `0` (main period, the list of markets on the
            outcome of the match taking all periods into account). To get all
            possible periods, enter `0`, `1`, `2`, ... (the number of periods
            depends on the sport).
          schema:
            type: string
        - name: vids
          in: query
          description: |
            Sports event class IDs separated by a comma. Default setting is `1`
            (main class).

            > Some sports (`3` (Basketball), `28` (Australian Rules), `13`
            (American Football)) can contain from main sport events with Sports
            event class = `12` (see [Glossary](/en/intro/glossary)). Please add
            `Vids` = `12` to get these sports events.

            > Events that are not main (with the main type (`Types` = `1`) and
            the main period (`Periods` = `0`)) will be returned with the main
            class (`Vids` = `1`).
          schema:
            type: string
        - name: types
          in: query
          description: |
            Sports event type IDs separated by a comma. Default setting is
            always `1` (main type).
          schema:
            type: string
        - name: sportEventIds
          in: query
          description: |
            Sports event IDs separated by a comma.

            > **Note**: can be entered as `sportEventId` or as
            `constSportEventId` (the overall event ID for pre-match and live
            events). Use `constSportEventId` to find a live match from the
            pre-match once it has already begun.
          schema:
            type: string
        - name: tournamentIds
          in: query
          description: |
            Tournament IDs separated by a comma.

            By default, all tournaments will be included.
          schema:
            type: string
        - name: tournamentCountryIds
          in: query
          description: |
            Tournament host country IDs separated by a comma. Accepts `id` from
            the
            [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: sportIds
          in: query
          description: |
            Sport IDs separated by a comma.

            By default, all sports in the directory will be included.
          schema:
            type: string
        - name: subSportIds
          in: query
          description: |
            Discipline IDs separated by a comma.
          schema:
            type: string
        - name: gtStart
          in: query
          description: |
            Time filter for sports events, where the event`s start date must be
            greater than the specified value. Set using Unix Epoch.
          schema:
            type: integer
            format: int64
        - name: ltStart
          in: query
          description: |
            Time filter for sports events, where the event`s start date must be
            less than the specified value. Set using Unix Epoch.
          schema:
            type: integer
            format: int64
        - name: oddsIds
          in: query
          description: |
            Sports event market IDs (from the directory) separated by a comma.
            This enables you to obtain specific markets within a sports event.
          schema:
            type: string
        - name: schemeOfGettingOddsOperations
          in: query
          description: |
            > [Markets filter](/en/intro/schemeOfGettingOdds#schemeofgettingoddsoperations).
          schema:
            $ref: '#/components/schemas/live-v2-en_SchemeOfGettingOddsOperations'
        - name: video
          in: query
          description: |
            Video filter.

            * If `true`, only sports events will be returned in response with
              video broadcasts available (hasVideo: true).
            * If `false` (default) - all sporting events will come (both with
              video and without).

            > See `count` parameter.
          schema:
            type: boolean
        - name: partnerLink
          in: query
          description: |
            An affiliate link that replaces a link to a sports event in the
            response.

            Format: `{link path including domain}?tag={tag}`

            Example: *ref.top/L?tag=s_23283m_355c_*

            If a value is entered, all links (`link` response parameter) will be
            replaced:
            * `https://{new value}&r={link path to sports event on the bookmaker's website}`
            * `https://ref.top/L?tag=s_23283m_355c&r=/ru/live/Football/1299397-England-Premier-League-2/351754042-Crystal-Palace-U23-Liverpool-U23`

            > Contact your manager to find out how to get an affiliate link in
            your account.
          schema:
            type: string
        - name: opponentIds
          in: query
          description: |
            Opponent's IDs separated by a comma.

            The response will only contain sports events with participants whose
            IDs are specified in the request.
          schema:
            type: string
        - name: count
          in: query
          description: |
            The maximum number of sports events to be returned in the response.

            The default is `100`.

            > If `count` is specified, the service will take `count` events and
            filter them using the `hasVideo` flag. As a result, the response may
            contain fewer events than specified.
          schema:
            type: integer
            format: int32
            default: 100
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            If the `partnerLink` parameter is not provided, it is used together with the parameter `gr` to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v2-en_LocalizationSportEventDtoV2ListResultResource'
        '400':
          description: |
            "Validation error:

            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v2-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` and `gr` are correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v2-en_ProblemDetails'
  /datafeed/prematch/api/v1/gameInsights:
    get:
      tags:
        - LoadSingle
      description: Returns markets and insights by `sportEventId`.
      operationId: GameDataFeed_Line_Api_GET_loadsingle_api_v1_gameInsights
      parameters:
        - name: sportEventId
          in: query
          description: |
            Sports event ID.
          required: true
          schema:
            type: integer
            format: int32
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by the manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Partner group.

            Together with the parameter `cnt`, this determines whether or not
            there is a live video on the bookmaker's website.

            Consult your manager about the parameter value.
          schema:
            type: integer
            format: int32
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a
            particular country. 

            The `hasVideo` flag will only show for sports
            events that will have streams available on the website for the
            country specified in the request.
          schema:
            type: integer
            format: int32
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_SportEventInsightsDtoListResultResource'
        '400':
          description: |
            "Validation error:

            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` and `gr` are correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
      summary: Insights
  /datafeed/directories/api/v1/types:
    get:
      tags:
        - Marketing
      summary: Sports Event Type Directory
      description: |
        A list of available sports event types.

        *The list can be supplemented. Contact your manager.
      operationId: GameDataFeed_Directories_API_GET_api_v1_types
      parameters:
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/directories-v1-en_TypeGameDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: ''
                  - id: 2
                    name: Corners
                  - id: 8
                    name: Yellow Cards
                  - id: 10
                    name: Cards
                  - id: 12
                    name: Shots On Target
                  - id: 13
                    name: Offsides
                  - id: 14
                    name: Fouls
  /datafeed/directories/api/v1/vid:
    get:
      tags:
        - Marketing
      operationId: GameDataFeed_Directories_API_GET_api_v1_vid
      summary: Sports Event Class Directory
      description: |
        A list of available sports event classes.

        *The list can be supplemented. Contact your manager.*
      parameters:
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/directories-v1-en_VidGameDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: ''
                  - id: 19
                    name: Penalty Shootout
                  - id: 12
                    name: Including Overtime
                  - id: 15
                    name: Including Overtime and Shootout
                  - id: 17
                    name: Extra-Time
                  - id: 22
                    name: Cham. Tie-Break
                  - id: 27
                    name: Overtime
                  - id: 28
                    name: Golden Set
                  - id: 31
                    name: Shootouts
                  - id: 783
                    name: Including Super Tie-Break
  /datafeed/directories/api/v2/sports:
    get:
      tags:
        - Marketing
      operationId: GameDataFeed_Directories_API_GET_api_v2_sports
      summary: Sports Directory
      description: |
        A list of available sports.

        *The list can be supplemented. Contact your manager.*
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int64
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/directories-v2-en_SportDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: Football
                    maxPeriodCount: 3
                  - id: 2
                    name: Ice Hockey
                    maxPeriodCount: 4
                  - id: 3
                    name: Basketball
                    maxPeriodCount: 3
                  - id: 4
                    name: Tennis
                    maxPeriodCount: 8
                  - id: 5
                    name: Baseball
                    maxPeriodCount: 5
                  - id: 6
                    name: Volleyball
                    maxPeriodCount: 4
                  - id: 7
                    name: Rugby
                    maxPeriodCount: 4
  /datafeed/directories/api/v2/sportevents:
    get:
      tags:
        - Marketing
      operationId: GameDataFeed_Directories_API_GET_api_v2_sportevents
      summary: Market Directory
      description: |
        A list of available sports.

        *The list can be supplemented. Contact your manager.*
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int64
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/directories-v2-en_SportEventsDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: W1
                  - id: 2
                    name: X
                  - id: 3
                    name: W2
                  - id: 4
                    name: 1X
                  - id: 5
                    name: '12'
                  - id: 6
                    name: 2X
                  - id: 7
                    name: Handiсap 1 ()
                  - id: 8
                    name: Handicap 2 ()
                  - id: 9
                    name: Total Over ()
                  - id: 10
                    name: Total Under ()
                  - id: 11
                    name: Individual Total 1 Over ()
                  - id: 12
                    name: Individual Total 1 Under ()
                  - id: 13
                    name: Individual Total 2 Over ()
                  - id: 14
                    name: Individual Total 2 Under ()
  /datafeed/directories/api/v2/subsports:
    get:
      tags:
        - Marketing
      operationId: GameDataFeed_Directories_API_GET_api_v2_subsports
      summary: Discipline Directory
      description: |
        A list of available disciplines.

        *The list can be supplemented. Contact your manager.*
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int64
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/directories-v2-en_SubSportDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: Dota 2
                  - id: 2
                    name: League of Legends
                  - id: 3
                    name: CS:GO
                  - id: 4
                    name: Starcraft II
                  - id: 5
                    name: Starcraft BroodWar
                  - id: 6
                    name: Call of Duty
  /datafeed/directories/api/v1/language:
    get:
      tags:
        - Marketing
      summary: Language Directory
      description: |
        List of all localization languages with ISO 639-1 code and ISO 3166-1
        alpha 2 country code (format `aa_BB`).
      operationId: GameDataFeed_Directories_API_GET_api_v1_language
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/directories-v1-en_LocalizedLanguageDto'
              example:
                en:
                  id: 1
                  uriName: en
                  localized: English
                  textDirectionRTL: false
                  isoCode: en_GB
                de:
                  id: 2
                  uriName: de
                  localized: Deutsch
                  textDirectionRTL: false
                  isoCode: de_DE
                ru:
                  id: 3
                  uriName: ru
                  localized: Русский
                  textDirectionRTL: false
                  isoCode: ru_RU
                ka:
                  id: 4
                  uriName: ka
                  localized: ქართული
                  textDirectionRTL: false
                  isoCode: ge_GE
  /datafeed/directories/api/v1/countries:
    get:
      tags:
        - Marketing
      operationId: GameDataFeed_Directories_API_GET_api_v1_countries
      summary: Country Directory
      description: |
        A list of available countries.

        The country code determines the geographical location of the client
        application in the live or pre-match sports event request.
      parameters:
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/directories-v1-en_LocalizedCountryNameDtoListResultResource'
              example:
                - id: 1
                  name: Russie
                - id: 2
                  name: Ukraine
                - id: 3
                  name: Abkhazie
  /datafeed/directories/api/v1/matchcancelationstatuses:
    get:
      tags:
        - Marketing
      summary: Match Cancellation Status Directory
      description: |
        A list of all possible match cancellation statuses.

        Cancellation `matchStatus` will appear in the results method response if
        the match was canceled or its score is not available.
      operationId: GameDataFeed_Directories_API_GET_api_v1_matchcancelationstatuses
      parameters:
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
            default: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/directories-v1-en_MatchCancelationStatusDtoListResultResource'
              example:
                items:
                  - id: 1
                    name: Match interrupted
                  - id: 2
                    name: Match postponed
                  - id: 3
                    name: Match details are being confirmed
                  - id: 4
                    name: Match canceled in accordance with the rules
                  - id: 5
                    name: Opponent's withdrawal
                  - id: 6
                    name: Match canceled
  /result/api/v1/sports:
    get:
      tags:
        - Result
      summary: Sports with Available Results
      description: |
        A list of sports with completed matches.

        The results for these sports events are available.
      operationId: GET_result_api_v1_sports
      parameters:
        - name: cyberFlag
          in: query
          description: |
            Filter sports in the response:
            * `0` (by default) — all sports except eSports. If entered, the
              response will include all sports with completed matches, except
              eSports.
            * `1` — only eSports. If entered, and if there are eSports results
              available, the response will include eSports.
          schema:
            type: integer
            format: int32
        - name: dateFrom
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            Start date of selected time frame.

            Set using Unix Epoch.
        - name: dateTo
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            End date of selected time frame.

            Set using Unix Epoch.
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: integer
            format: int32
          description: |
            Partner ID (this parameter must be specified by your manager).
          default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result-v1-en_SportListResultResource'
              example:
                count: 5
                items:
                  - id: 1
                    name: Football
                  - id: 4
                    name: Tennis
                  - id: 3
                    name: Basketball
                  - id: 2
                    name: Ice Hockey
                  - id: 6
                    name: Volleyball
            application/vnd.xenvelop+json:
              schema:
                $ref: '#/components/schemas/result-v1-en_SportListResultResource'
              example:
                count: 5
                items:
                  - id: 1
                    name: Football
                  - id: 4
                    name: Tennis
                  - id: 3
                    name: Basketball
                  - id: 2
                    name: Ice Hockey
                  - id: 6
                    name: Volleyball
  /result/api/v1/tournaments:
    get:
      tags:
        - Result
      summary: Tournaments with Available Results
      description: |
        A list of tournaments with completed matches.

        The results for these sports events are available.
      operationId: GET_result_api_v1_tournaments
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            Start date of selected time frame.

            Set using Unix Epoch.
        - name: dateTo
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            End date of selected time frame.

            Set using Unix Epoch.
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: integer
            format: int32
            default: 1
          description: |
            Partner ID (this parameter must be specified by your manager).
        - name: sportId
          in: query
          required: true
          schema:
            type: string
          description: |
            Sports IDs.
        - name: sportIdsArray
          in: query
          description: |
            Sports IDs array. Additional parameter for `sportId`.

            > **Note**: If both parameters are sent in the request, `sportIdsArray` has the priority.
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result-v1-en_TournamentListResultResource'
              example:
                count: 4
                items:
                  - tournamentId: 2159147
                    tournamentNameLocalization: NBA 2K21. Cyber League
                    tournamentImage: 5bbf82fbe46450bc0ea743f5a9379b84.png
                    sportId: 3
                  - tournamentId: 1752378
                    tournamentNameLocalization: UEFA European Championship 2020. Winner
                    tournamentImage: 694452c2046967b4cea48367fdf6beae.png
                    sportId: 1
                  - tournamentId: 917321
                    tournamentNameLocalization: Copa America
                    tournamentImage: 52709e5eee3c0b700a6dc8445c3c3a1f.png
                    sportId: 1
                  - tournamentId: 2082327
                    tournamentNameLocalization: NHL 20. Cyber League
                    tournamentImage: 0c67d311a5733da7df247b222cea48f5.png
                    sportId: 2
            application/vnd.xenvelop+json:
              schema:
                $ref: '#/components/schemas/result-v1-en_TournamentListResultResource'
  /result/api/v1/sportevents:
    get:
      tags:
        - Result
      summary: Sports Event Results by Tournament
      description: |
        Request for sports event results by `tournamentId`.

        Returns the sports events of the tournament with their results — the
        score of the match. If the match did not take place, the response will
        contain information about the cancellation.
      operationId: GET_result_api_v1_sportevents
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            Start date of selected time frame. Set using Unix Epoch.
        - name: dateTo
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: |
            End date of selected time frame. Set using Unix Epoch.
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: integer
            format: int32
            default: 1
          description: |
            Partner ID (this parameter must be specified by your manager).
        - name: tournamentIds
          in: query
          required: true
          schema:
            type: string
          description: |
            Tournament IDs.
        - name: types
          in: query
          schema:
            type: string
          description: |
            Sports event type IDs.

            The default is all types.
        - name: vids
          in: query
          schema:
            type: string
          description: |
            Sports event class IDs. The default is all classes.

            > Some sports (
            `3` (Basketball),
            `28` (Australian Rules),
            `13` (American Football))
            can contain from main sport events with Sports event class = `12`
            (see [Glossary](/en/intro/glossary)).

            > Events that are not main (with the main type (`types` = `1`) and
            the main period (`Periods` = `0`)) will be returned with the main
            class (`vids` = `1`).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result-v1-en_SportEventListResultResource'
              example:
                count: 3
                items:
                  - sportEventId: 312610295
                    constSportEventId: 106675785
                    opponent1NameLocalization: England
                    opponent2NameLocalization: Denmark
                    imageOpponent1:
                      - 12763.png
                    imageOpponent2:
                      - c74e2857cc52f1f884e4d9204e9c19a5.png
                    type: 1
                    vid: 1
                    score: 2:1 (1:1,0:0,1:0)
                    startDate: 1625683500
                    opponent1Ids:
                      - 1876015
                    opponent2Ids:
                      - 2868499
                  - sportEventId: 312610305
                    constSportEventId: 106700563
                    opponent1NameLocalization: England
                    opponent2NameLocalization: Denmark
                    imageOpponent1:
                      - 12763.png
                    imageOpponent2:
                      - c74e2857cc52f1f884e4d9204e9c19a5.png
                    type: 2
                    vid: 1
                    score: 3:3 (1:1,2:2)
                    startDate: 1625683500
                    opponent1Ids:
                      - 1834515
                    opponent2Ids:
                      - 2863495
                  - sportEventId: 312612579
                    constSportEventId: 106709909
                    opponent1NameLocalization: England
                    opponent2NameLocalization: Denmark
                    imageOpponent1:
                      - 12763.png
                    imageOpponent2:
                      - c74e2857cc52f1f884e4d9204e9c19a5.png
                    type: 8
                    vid: 1
                    score: 1:1 (0:0,1:1)
                    startDate: 1625683500
                    opponent1Ids:
                      - 1834516
                    opponent2Ids:
                      - 1263445
            application/vnd.xenvelop+json:
              schema:
                $ref: '#/components/schemas/result-v1-en_SportEventListResultResource'
  /result/api/v1/sportevent:
    get:
      tags:
        - Result
      summary: Specific Sports Event Results
      description: |
        Request for sports event results by `sportEventId` or
        `constSportEventId`.

        Returns the sports events of the tournament with their results — the
        score of the match. If the match did not take place, the response will
        contain information about the cancellation.
      operationId: GET_result_api_v1_sportevent
      parameters:
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: integer
            format: int32
            default: 1
          description: |
            Partner ID (this parameter must be specified by your manager).
        - name: sportEventIds
          in: query
          required: true
          schema:
            type: string
          description: |
            Sports event IDs.

            > **Note**: can be entered as `sportEventId` or as
            `constSportEventId` (the overall event ID for pre-match and live
            events).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result-v1-en_SportEventSearchListResultResource'
              example:
                count: 2
                items:
                  - key: 153396046
                    sportEventId: 415647962
                    constSportEventId: 153396046
                    opponent1NameLocalization: Arsenal (Fifagor)
                    opponent2NameLocalization: Chelsea (SMILE)
                    imageOpponent1:
                      - 867ee9600239139f5a01480ff43c14a0.png
                    imageOpponent2:
                      - 76be53484bb81986fa35294fd3cf01cd.png
                    type: 1
                    vid: 1
                    score: 0:2 (0:1,0:1)
                    startDate: 1669793400
                    opponent1Ids:
                      - 1876015
                    opponent2Ids:
                      - 2868499
                  - key: 415659200
                    sportEventId: 415659200
                    constSportEventId: 153401693
                    opponent1NameLocalization: West Ham United (Zhas1k)
                    opponent2NameLocalization: Aston Villa (aka_nolito)
                    imageOpponent1:
                      - 4f19c5167a9a98a600929b501d98b845.png
                    imageOpponent2:
                      - cb25da9109537b3537591e9408760ec3.png
                    type: 1
                    vid: 1
                    score: 0:0 (0:0,0:0)
                    startDate: 1669797900
                    opponent1Ids:
                      - 1873015
                    opponent2Ids:
                      - 2867499
                    matchStatus: 6
            application/vnd.xenvelop+json:
              schema:
                $ref: '#/components/schemas/result-v1-en_SportEventSearchListResultResource'
  /datafeed/loadlist/prematch/api/v1/getGameIds:
    get:
      tags:
        - LoadList
      summary: Pre-match Events List
      description: |
        Returns the `sportEventId` of all current sports events.

        **Important**: Please pass these request parameters in the order they
        are listed below.
      operationId: GameDataFeed_Line_Api_GET_loadlist_api_v1_getGameIds
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by the manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: lastUpdate
          in: query
          description: |
            Update time filter: the response will contain events with an update
            time later than the specified value. Set using Unix Epoch.

            Each subsequent call uses the value specified in the `lastIndex`
            response parameter.
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_Int32ListResultLastResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` is correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
  /datafeed/loadlist/prematch/api/v1/getDetailsGame:
    get:
      tags:
        - LoadList
      summary: Information about a Sports Event
      description: |
        Retrieves information about an individual sports event.

        > **Important**: Please pass these request parameters in the order they
        are listed below.
      operationId: GameDataFeed_Line_Api_GET_loadlist_api_v1_getDetailsGame
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by the manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Partner group. 

            Together with the parameter `cnt`:

            * determines whether there is a live video on the bookmaker's website.
            * is used to form the domain part of the link (`link` in the response).

            Consult your manager about the parameter value.
          schema:
            type: integer
            format: int32
            default: 0
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            Together with the parameter `gr` it is used to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
            default: 0
        - name: gameId
          in: query
          description: |
            Sports event ID.

            > **Note**: Only a `sportEventId` received in response to the List
            of Events method. The same match will have different sportEventIds
            for pre-match and live.
          required: true
          schema:
            type: integer
            format: int32
        - name: languages
          in: query
          description: |
            Localization languages.

            The list of language codes will only be accepted if they are
            separated by a comma and in alphabetical order.

            For example, `cn,en,ru,tw`.

            The default value is `en`.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_GameDetailsLoadList'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` and `gr` are correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
  /datafeed/loadlist/prematch/api/v1/getMarketsGame:
    get:
      tags:
        - LoadList
      summary: Markets
      description: |
        Returns markets by `sportEventId`.

        > **Important**: Please pass these request parameters in the order they
        are listed below.
      operationId: GameDataFeed_Line_Api_GET_loadlist_api_v1_getMarketsGame
      parameters:
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            Together with the parameter `gr` it is used to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
            default: 0
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by the manager)
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gameId
          in: query
          description: |
            `sportEventId`

            > **Note**: Only a `sportEventId` received in response to the List
            of Events method. The same match will have different `sportEventIds`
            for pre-match and live.
          required: true
          schema:
            type: integer
            format: int32
        - name: languages
          in: query
          description: |
            Localization languages. The list of language codes will only be
            accepted if they are separated by a comma and in alphabetical order.

            For example, `cn,en,ru,tw`.
          schema:
            type: string
        - name: schemeOfGettingOdds
          in: query
          description: |
            > [Markets filter](/en/intro/schemeOfGettingOdds#schemeofgettingodds).
          schema:
            $ref: '#/components/schemas/line-v1-en_SchemeOfGettingOddsOperations'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_MarketLoadListListResultResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` is correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
  /datafeed/loadlist/live/api/v1/getGameIds:
    get:
      tags:
        - LoadList
      summary: Live Events List
      description: |
        Returns the `sportEventId` of all current sports events.

        **Important**: Please pass these request parameters in the order they
        are listed below.
      operationId: GameDataFeed_Live_Api_GET_loadlist_api_v1_getGameIds
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by the manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: lastUpdate
          in: query
          description: |
            Update time filter: the response will contain events with an update
            time later than the specified value. Set using Unix Epoch.

            Each subsequent call uses the value specified in the `lastIndex`
            response parameter.
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_Int32ListResultLastResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` is correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
  /datafeed/loadlist/live/api/v1/getDetailsGame:
    get:
      tags:
        - LoadList
      summary: Information about a Sports Event
      description: |
        Retrieves information about an individual sports event.

        > **Important**: Please pass these request parameters in the order they
        are listed below.
      operationId: GameDataFeed_Live_Api_GET_loadlist_api_v1_getDetailsGame
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by the manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Partner group.

            Together with the parameter `cnt`:

            * determines whether there is a live video on the bookmaker's website.
            * is used to form the domain part of the link (`link` in the response).

            Consult your manager about the parameter value.
          schema:
            type: integer
            format: int32
            default: 0
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            Together with the parameter `gr` it is used to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
            default: 0
        - name: gameId
          in: query
          description: |
            Sports event ID.

            > **Note**: Only a `sportEventId` received in response to the List
            of Events method. The same match will have different `sportEventIds`
            for pre-match and live.
          required: true
          schema:
            type: integer
            format: int32
        - name: languages
          in: query
          description: |
            Localization languages. The list of language codes will only be
            accepted if they are separated by a comma and in alphabetical order.

            For example, `cn,en,ru,tw`.

            The default value is `en`.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_GameDetailsLoadList'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` and `gr` are correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
  /datafeed/loadlist/live/api/v1/getMarketsGame:
    get:
      tags:
        - LoadList
      summary: Markets
      description: |
        Returns markets by `sportEventId`.

        > **Important**: Please pass these request parameters in the order they
        are listed below.
      operationId: GameDataFeed_Live_Api_GET_loadlist_api_v1_getMarketsGame
      parameters:
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            If the `partnerLink` parameter is not provided, it is used together with the parameter `gr` to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
            default: 0
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by the manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gameId
          in: query
          description: |
            `sportEventId`

            > **Note**: Only a `sportEventId` received in response to the List
            of Events method. The same match will have different `sportEventIds`
            for pre-match and live.
          required: true
          schema:
            type: integer
            format: int32
        - name: languages
          in: query
          description: |
            Localization languages.

            The list of language codes will only be accepted if they are
            separated by a comma and in alphabetical order.

            For example, `cn,en,ru,tw`.
          schema:
            type: string
        - name: schemeOfGettingOdds
          in: query
          description: |
            > [Markets filter](/en/intro/schemeOfGettingOdds#schemeofgettingodds).
          schema:
            $ref: '#/components/schemas/live-v1-en_SchemeOfGettingOddsOperations'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_MarketLoadListListResultResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` is correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
  /datafeed/loadtree/prematch/api/v1/sportList:
    get:
      tags:
        - LoadTree
      summary: Actual Pre-Match Sports
      operationId: GameDataFeed_Line_Api_GET_loadtree_api_v1_sportList
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_SportDtoListResultResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` is correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
  /datafeed/loadtree/prematch/api/v1/tournaments:
    get:
      tags:
        - LoadTree
      summary: Actual Pre-Match Tournaments
      operationId: GameDataFeed_Line_Api_GET_loadtree_api_v1_tournaments
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: sportId
          in: query
          description: |
            Sport ID.
          required: true
          schema:
            type: integer
            format: int32
        - name: subSportIds
          in: query
          description: |
            Discipline IDs separated by a comma.
          schema:
            type: string
        - name: count
          in: query
          description: |
            The maximum number of tournaments to be returned in the response.

            By default — all tournaments.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_LocalizationTournamentDtoListResultResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` is correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
  /datafeed/loadtree/prematch/api/v1/sportEventIds:
    get:
      tags:
        - LoadTree
      summary: Main Events for a Tournament
      description: |
        Returns a list of `sportEventId`s for main sports events.

        A main event is an event with a line of markets on the match outcome.

        For the main sporting event, you can get `subGames` using the
        `/sportEventDetails` method.
      operationId: GameDataFeed_Line_Api_GET_loadtree_api_v1_sporteventIds
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: tournamentId
          in: query
          description: |
            Tournament IDs.
          required: true
          schema:
            type: integer
            format: int32
        - name: count
          in: query
          description: |
            The maximum number of sports events to be returned in the response.

            By default — all.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_Int32ListResultResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` is correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
  /datafeed/loadtree/prematch/api/v1/sporteventDetail:
    get:
      tags:
        - LoadTree
      summary: Markets and Information for the Event
      operationId: GameDataFeed_Line_Api_GET_loadtree_api_v1_sporteventDetail
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Partner group.

            Together with the parameter `cnt`:

            * determines whether there is a live video on the bookmaker's website.
            * is used to form the domain part of the link (`link` in the response).

            Consult your manager about the parameter value.
          schema:
            type: integer
            format: int32
            default: 0
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: sportEventId
          in: query
          description: |
            Sports event ID.
          required: true
          schema:
            type: integer
            format: int32
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            Together with the parameter `gr` it is used to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
        - name: withSubGames
          in: query
          description: |
            Indicates whether to include `subGames` in the response (events with
            `type` and `period` different from the main event).

            > See [Getting all Sports Events for a Match](/en/getEvents/loadtree).
          schema:
            type: boolean
        - name: schemeOfGettingOdds
          in: query
          description: |
            > [Market filter](/en/intro/schemeOfGettingOdds#schemeofgettingodds).
          schema:
            $ref: '#/components/schemas/line-v1-en_SchemeOfGettingOddsOperations'
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            Together with the parameter `gr` it is used to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_LocalizationSportEventWithSubGamesDto'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` and `gr` are correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line-v1-en_ProblemDetails'
  /datafeed/loadtree/live/api/v1/sportList:
    get:
      tags:
        - LoadTree
      summary: Actual Live Sports
      operationId: GameDataFeed_Live_Api_GET_loadtree_api_v1_sportList
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_SportDtoListResultResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` is correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
  /datafeed/loadtree/live/api/v1/tournaments:
    get:
      tags:
        - LoadTree
      summary: Actual Live Tournaments
      operationId: GameDataFeed_Live_Api_GET_loadtree_api_v1_tournaments
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: sportId
          in: query
          description: |
            Sport ID.
          required: true
          schema:
            type: integer
            format: int32
        - name: subSportIds
          in: query
          description: |
            Discipline IDs separated by a comma.
          schema:
            type: string
        - name: count
          in: query
          description: |
            The maximum number of tournaments to be returned in the response.

            By default — all tournaments.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_LocalizationTournamentDtoListResultResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` is correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
  /datafeed/loadtree/live/api/v1/sportEventIds:
    get:
      tags:
        - LoadTree
      summary: Main Events For a Tournament
      operationId: GameDataFeed_Live_Api_GET_loadtree_api_v1_sporteventIds
      description: |
        Returns a list of `sportEventId`s for main sports events. A main event
        is an event with a line of markets on the match outcome. For the main
        sporting event, you can get `subGames` using the `/sportEventDetails`
        method.
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: tournamentId
          in: query
          description: |
            Tournament ID.
          required: true
          schema:
            type: integer
            format: int32
        - name: count
          in: query
          description: |
            The maximum number of sports events to be returned in the response.

            By default — all.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_Int32ListResultResource'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` is correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
  /datafeed/loadtree/live/api/v1/sporteventDetail:
    get:
      tags:
        - LoadTree
      summary: Markets and Information for the Event
      operationId: GameDataFeed_Live_Api_GET_loadtree_api_v1_sporteventDetail
      parameters:
        - name: ref
          in: query
          description: |
            Partner ID (this parameter must be specified by your manager).
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - name: gr
          in: query
          description: |
            Partner group.

            Together with the parameter `cnt`:

            * determines whether there is a live video on the bookmaker's website.
            * is used to form the domain part of the link (`link` in the response).

            Consult your manager about the parameter value.
          schema:
            type: integer
            format: int32
            default: 0
        - name: lng
          in: query
          description: |
            Two-letter language code in ISO 639-1.

            See [Language Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: string
        - name: sportEventId
          in: query
          description: |
            Sports event ID

            > **Note**: can be entered as `sportEventId` or as
            `constSportEventId` (the overall event ID for pre-match and live
            events). Use `constSportEventId` to find a live match from the
            pre-match once it has already begun.
          required: true
          schema:
            type: integer
            format: int32
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            Together with the parameter `gr` it is used to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
        - name: withSubGames
          in: query
          description: |
            Indicates whether to include `subGames` in the response (events with
            `type` and `period` different from the main event).

            > See [Getting all Sports Events for a Match](/en/getEvents/loadtree).
          schema:
            type: boolean
        - name: schemeOfGettingOdds
          in: query
          description: |
            > [Market filter](/en/intro/schemeOfGettingOdds#schemeofgettingodds)
          schema:
            $ref: '#/components/schemas/live-v1-en_SchemeOfGettingOddsOperations'
        - name: cnt
          in: query
          description: |
            Country or location of the client.

            Makes it possible to determine whether live video is available for a particular country.
            The `hasVideo` flag will only show for sports events that will have streams available on the website for the country specified in the request.

            If the `partnerLink` parameter is not provided, it is used together with the parameter `gr` to form the domain part of the link (`link` in the response).

            See [Country Directory](/en/api-en#tag/Marketing/operation/GameDataFeed_Directories_API_GET_api_v1_language).
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_LocalizationSportEventWithSubGamesDto'
        '400':
          description: |
            Validation error:
            * A required parameter is not provided.
            * Unknown parameter. *Check the parameter name*.
            * Duplicate parameters in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
        '403':
          description: |
            Rule validation failed

            *Check if `ref` and `gr` are correct in the request*
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/live-v1-en_ProblemDetails'
  /datafeed/directories/api/v3/sportevent-types:
    get:
      tags:
        - Directories
        - Marketing
      summary: Multilingual Sports Event Type Directory
      description: |
        List of available sports event types with translations.

        *The list can be supplemented. Contact your manager.*
      operationId: GameDataFeed_Directories_API_GET_api_v3_sportevent-types
      parameters:
        - name: languages
          in: query
          description: |
            Translation languages.

            List of two-letter language codes (ISO 639-1) separated by commas.

            For example, `ru,en,cn`.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/directories-v3-en_LocalizedSportEventTypesDto'
              example:
                - id: 1
                  localized:
                    ru: ''
                    en: ''
                - id: 24
                  localized:
                    ru: Блок-шоты
                    en: Blocks
                    cn: 拦截
                - id: 28
                  localized:
                    ru: Брейки
                    en: Breaks
                    cn: 破发
                - id: 15
                  localized:
                    ru: Броски в створ ворот
                    en: Shots On Target
                    cn: 球门范围内射门
  /datafeed/directories/api/v3/sportevent-parts:
    get:
      tags:
        - Directories
        - Marketing
      summary: Multilingual Sports Event Class Directory
      description: |
        List of available sports event classes with translations.

        *The list can be supplemented. Contact your manager.*
      operationId: GameDataFeed_Directories_API_GET_api_v3_sportevent-parts
      parameters:
        - name: languages
          in: query
          description: |
            Translation languages.

            List of two-letter language codes (ISO 639-1) separated by commas.

            For example, `ru,en,cn`.
          schema:
            type: string
      responses:
        '200':
          description: |
            Array of sports event classes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/directories-v3-en_LocalizedSportEventPartsDto'
              example:
                - id: 26
                  localized:
                    ru: 7 иннингов
                    en: 7 Innings
                    cn: 7局
                - id: 783
                  localized:
                    ru: C учетом супер тай-брейка
                    en: Including Super Tie-Break
                    cn: 包括超级决胜局
                - id: 25
                  localized:
                    ru: все сеты до 15 очков
                    en: Each Set Up To 15 points
                    cn: 每一个设为15分
  /datafeed/directories/api/v3/sports:
    get:
      tags:
        - Directories
        - Marketing
      summary: Multilingual Sports Directory
      description: |
        List of available sports with translations.

        *The list can be supplemented. Contact your manager.*
      operationId: GameDataFeed_Directories_API_GET_api_v3_sports
      parameters:
        - name: languages
          in: query
          description: |
            Translation languages.

            List of two-letter language codes (ISO 639-1) separated by commas.

            For example, `ru,en,cn`.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/directories-v3-en_LocalizedSportDto'
              example:
                - sportId: 1
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru:
                      name: Футбол
                      period: Тайм
                      termination: '-й '
                    en:
                      name: Football
                      period: Half
                      termination: ' '
                    cn:
                      name: 足球
                      period: 半场
                      termination: ''
                - sportId: 2
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru:
                      name: Хоккей
                      period: Период
                      termination: '-й '
                    en:
                      name: Ice Hockey
                      period: Period
                      termination: ' '
                    cn:
                      name: 冰上曲棍球
                      period: 局
                      termination: ''
                - sportId: 3
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru:
                      name: Баскетбол
                      period: Четверть
                      subPeriod: половина
                      termination: '-я '
                    en:
                      name: Basketball
                      period: Quarter
                      subPeriod: Half
                      termination: ' '
                    cn:
                      name: 篮球
                      period: 节
                      subPeriod: 半场
                      termination: ''
  /datafeed/directories/api/v3/sportsIsoCode:
    get:
      tags:
        - Directories
        - Marketing
      summary: Multilingual Sports Directory Supporting Language Format `aa_BB`
      description: |
        List of available sports with translations.

        *The list can be supplemented. Contact your manager.*
      operationId: GameDataFeed_Directories_API_GET_api_v3_sportsIsoCode
      parameters:
        - name: languages
          in: query
          description: |
            Translation languages.

            List of language codes (ISO 639-1 + ISO 3166-1 alpha 2 country code)
            separated by commas.

            For example, `ru_RU,en_GB,fr_FR`.
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/directories-v3-en_LocalizedSportDto'
              example:
                - sportId: 1
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru_RU:
                      name: Футбол
                      period: Тайм
                      termination: '-й '
                    en_GB:
                      name: Football
                      period: Half
                      termination: ' '
                    fr_FR:
                      name: 'Football '
                      period: Mi-temps
                      termination: ''
                - sportId: 2
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru_RU:
                      name: Хоккей
                      period: Период
                      termination: '-й '
                    en_GB:
                      name: Ice Hockey
                      period: Period
                      termination: ' '
                    fr_FR:
                      name: Hockey sur glace
                      period: Période
                      termination: ''
                - sportId: 3
                  sportType: Real
                  oneRound: false
                  noScore: false
                  localized:
                    ru_RU:
                      name: Баскетбол
                      period: Четверть
                      subPeriod: половина
                      termination: '-я '
                    en_GB:
                      name: Basketball
                      period: Quarter
                      subPeriod: Half
                      termination: ' '
                    fr_FR:
                      name: Basket-ball
                      period: Quart-temps
[...]
